body {
    background-color: lavender;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: fantasy;
    font-size: 20px;
}
#mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mainSplitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
/* INTRO SECTION */
#introSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.introHeader {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 20px;
}
.introText {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}
#introMatricesWrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.matrixWrapper {
    display: flex;
    flex-direction: row;
    max-height: 200px;
    overflow: auto;
}
.matrixTitle {
    text-align: right;
    min-width: 50px;
    padding-right: 10px;
    align-self: center;
}
.matrix {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
    margin: 8px;
}
.matrixEntry {
    background-color: transparent;
    outline: transparent;
    border-width: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
}
input.matrixEntry {
    max-width: 50px;
}
.edge {
    width: 10px;
    height: 100%;
}
.topEdge {
    border-top-width: 2px;
}
.bottomEdge {
    border-bottom-width: 2px;
}
.leftEdge {
    border-left-width: 2px;
}
.rightEdge {
    border-right-width: 2px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}