body {
    background-color: lavender;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: fantasy;
    font-size: 20px;
}
#mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mainSplitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.33;
}
/* INTRO SECTION */
#introSection {
    display: flex;
    flex-direction: column;
}
.introHeader {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.introText {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}
.labeledMatrix {
    table-layout: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.labeledMatrix tr td {
    width: 100%;
}
.columnTitle {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: black;
}
.rowTitle {
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: black;
}